{% extends '_layout.twig' %}
{% block content %}
  {# Include Hero Image Header #}
  {% include 'includes/_hero-image.twig' %}

  {# Breadcrumbs Navigation #}
  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" class="container mt-5 mb-5">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ siteUrl }}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Trees</li>
    </ol>
  </nav>
  {# Trees Section #}
  <section class="container mt-5 mb-5 pt-5 pb-5">
    {% set homeSliderSection = craft.entries().section('homeSliderSection').one %}
    <h3>{{ homeSliderSection.sectionHeader }}</h3>
    {# Trees Gallery #}
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
      {% set treesEntries = craft.entries().section('treesArticles').all() %}
      {% for treesEntry in treesEntries %}
      <div class="col">
        <div class="card">
          <img src="{{ treesEntry.treeThumbnail.one().url('treeMediumThumbnail') }}" class="card-img-top" alt="{{ treesEntry.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ treesEntry.title }}</h5>
            <p class="card-text">{{ treesEntry.treeIntroText }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Botanical name: {{ treesEntry.botanicalName }}</li>
            <li class="list-group-item">Native area: {{ treesEntry.nativeAreas.label }}</li>
            <li class="list-group-item">Plant family: {{ treesEntry.plantFamily }}</li>
          </ul>
          <div class="card-body">
            <a href="{{ treesEntry.Url }}" class="card-link">More</a>
            <a href="{{ treesEntry.treeLink }}" target="_blank" class="card-link">Shop</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

{% endblock %}