<!DOCTYPE html>
<html lang="{{craft.app.language}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{siteName}}</title>
    {# Reset CSS #}
    {% do craft.app.view.registerCssFile('@web/assets/css/reset.css') %}
    {# Bootstrap files #}
    {% do craft.app.view.registerCssFile('@web/assets/bootstrap/css/bootstrap.min.css') %}
    {# Style CSS #}
    {% do craft.app.view.registerCssFile('@web/assets/css/style.css?12345') %}
</head>
<body>
    <header class='container'>
    
      <nav>
        <ul id="nav-menu" class='nav justify-content-end'>
          <li class='nav-item'><a href='{{siteUrl}}' class='nav-link'>Home</a></li>
          <li class='nav-item'><a href='{{siteUrl}}/trees' class='nav-link'>Trees</a></li>
          <li class='nav-item'><a href='{{siteUrl}}/about' class='nav-link'>About</a></li>
          <li class='nav-item'><a href='{{siteUrl}}/inspire' class='nav-link'>Inspire</a></li>
        </ul>
      </nav>
    </header>

    {% block content %}
    {# hier komt de content #}
    {% endblock %}

    <footer>
        Dit is de footer
    </footer>

</body>
</html>
