<!DOCTYPE html>
<html lang="{{craft.app.language}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{siteName}}</title>
  {# Reset CSS #}
  {% do craft.app.view.registerCssFile('@web/css/reset.css') %}
  {# Bootstrap files #}
  {% do craft.app.view.registerCssFile('@web/bootstrap/css/bootstrap.min.css') %}
  {# Style CSS #}
  {% do craft.app.view.registerCssFile('@web/css/style.css?12345') %}
  {# Google Fonts #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
  <header class="container d-flex justify-content-between mt-4">
    {% set header = craft.entries().section('header').one() %}
    <img src="{{header.headerLogo.one().url('headerLogoIcon')}}"/>
    <nav>
      <ul id="nav-menu" class="nav justify-content-end">
        <li class="nav-item"><a href="{{siteUrl}}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{{siteUrl}}trees" class="nav-link">Trees</a></li>
        <li class="nav-item"><a href="{{siteUrl}}about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="{{siteUrl}}inspire" class="nav-link">Inspire</a></li>
      </ul>
    </nav>
  </header>

  {% block content %}
  {# hier komt de content #}
  {% endblock %}

  <footer>
      Dit is de footer
  </footer>

</body>
</html>
