<!DOCTYPE html>
<html lang="{{craft.app.language}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{siteName}}</title>
  {# Reset CSS #}
  {% do craft.app.view.registerCssFile('@web/css/reset.css') %}
  {# Bootstrap files #}
  {% do craft.app.view.registerCssFile('@web/bootstrap/css/bootstrap.min.css') %}
  {# Style CSS #}
  {% do craft.app.view.registerCssFile('@web/css/style.css?12345') %}
  {# Google Fonts #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  {# Glide.js Core CSS #}
  {% do craft.app.view.registerCssFile('@web/css/glide.core.min.css') %}
</head>

<body>
  <header class="container d-flex justify-content-between mt-5">
    {# {% set header = craft.entries().section('header').one() %}
    <img src="{{header.headerLogo.one().url('headerLogoIcon')}}"/> #}
    <h1><a href="{{siteUrl}}" class="link-underline-success">Support Trees</a></h1>
    <nav class="d-flex gap-3 align-items-center">
      <ul id="nav-menu" class="nav justify-content-end">
        <li class="nav-item"><a href="{{siteUrl}}trees" class="nav-link">Trees</a></li>
        <li class="nav-item"><a href="{{siteUrl}}about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="{{siteUrl}}inspire" class="nav-link">Inspire</a></li>
      </ul>
      <a href="https://www.arborday.org/" target="_blank"><button type="button" class="btn btn-outline-primary">Donate</button></a>
    </nav>
  </header>

  {% block content %}
  {# hier komt de content #}
  {% endblock %}

  <footer class="container">
      Dit is de footer
  </footer>
{# JS Scripts Links #}
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script>
  const config = {
    type: 'carousel',
    startAt: 0,
    perView: 3,
  };

  new Glide('.glide', config).mount();
</script>
</body>
</html>
