{# Neemt de rest van _layout over #}
{% extends '_layout.twig' %}

{% block content %}
<main class="mt-5">
    {# Hero Video Section #}
    <section class="intro-section container d-flex justify-content-center flex-column gap-5 mt-5 mb-5 pb-5">
        {# Hero Video #}
        {% set heroSectionEntries = craft.entries().section('heroVideoSection').one %}
        <iframe src="{{ heroSectionEntries.videoHeader }}controls=0&autoplay=1&mute=1&loop=1"></iframe>
        {# Intro Text Section #}
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="col-3 lh-base">{{ heroSectionEntries.sectionHeader }}</h2>
            <div class="col-4">
                <p class="lh-lg">{{ heroSectionEntries.articleParagraph }}</p>
                <a href="https://www.youtube.com/@treesdontneedus" target="_blank"><button type="button" class="btn btn-primary">Watch on YouTube</button></a>
            </div>
        </div>
    </section>

    {# Trees Slider Section #}
    {% include 'includes/_slider.twig' %}

    {# About Section #}
    <section class="about-section container mt-5 mb-5 pt-5 pb-5">
        <div class="section-header container d-flex justify-content-between align-items-center pb-4">
            {% set homeAbout = craft.entries().section('homeAboutSection').one %}
            <h3>{{ homeAbout.sectionHeader }}</h3>
            <a href="{{ siteUrl }}about" class="section-header-link">Read More</a>
        </div>
        <div class="d-flex flex-column gap-3">
            {% set aboutEntries = craft.entries().section('aboutArticles').limit(2).all() %}
            {% for aboutEntry in aboutEntries %}
            <div class="d-flex align-items-center justify-content-between mt-5">
                <h5 class="align-self-start">{{ aboutEntry.articleTopic }}</h5>
                <div class="about-article-content d-flex flex-column gap-3">
                    <h4>{{ aboutEntry.title }}</h4>
                    <p>{{ aboutEntry.articleIntro }}</p>
                    <a href="{{ aboutEntry.url }}" class="default-link">Read More</a>
                </div>
                <div class="d-flex justify-content-end">
                    <img src="{{ aboutEntry.articleBanner.one().url('articleMedia') }}" />
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {# Instagram Feed #}
    <section>
    {# fetch account specified in settings #}
    {% set items = craft.instagram.getFeed() %}

    {% for item in items %}
    <a href="https://www.instagram.com/p/{{ item.shortcode }}/" target="_blank" rel="noopener noreferrer">
    <img src="{{ item.thumbnail }}" alt="" />
    </a>
    <p>{{ item.caption }}</p>
    <p>{{ item.likes }} Likes / {{ item.comments }} Comments</p>
    {% endfor %}


  </section>
</main>
{% endblock %}
